@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1c1d; 
  background-position: top center;
  margin: 0.5rem;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

#topbar {
  height: 0.625rem;
  width: 61.125rem;
  background-color: #373b3d;
  border-bottom: #444647 0.0625rem solid;
  font-size: 0;
}

#wrapper {
  background-color: #ffffff;
  width: 61.125rem;
  margin: 0 0;
  position: relative;
}

#header {
  background-color: #505050;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  display: block;
}

#header h1 a,
#header h2 {
  color: #eaeaea;
}

#header h1 {
  font-weight: normal;
  padding-top: 1.25rem;
  margin-left: 2.5rem;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

#header h1 a:hover,
#header h1 a:active {
  text-decoration: none;
  border-bottom: #eaeaea 0.0625rem dotted;
}

#header h2 {
  font-weight: normal;
  font-size: 0.875rem;
  padding: 0 0 1.25rem 2.5rem;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

#searchform {
  position: absolute;
  left: 43.6875rem;
  margin-top: 0.3125rem;
}

#searchform input#s {
  color: #a0a0a0;
  border: #a0a0a0 0.0625rem solid;
  padding: 0.1875rem 0.125rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 14.0625rem;
  height: 2rem;
  background-color: #f4f1e9;
  margin-top: 0.4375rem;
  margin-right: 0;
  font-size: 1rem;
}

#searchform input#searchsubmit {
	margin-right: 0.625rem; /* 10px / 16px */
	border: 0.0625rem solid #a0a0a0; /* 1px / 16px */
	padding: 0.125rem; /* 2px / 16px */
	width: 1.875rem; /* 30px / 16px */
	text-align: center;
	background-color: #d5c6a6;
	color: #333333;
	font-weight: bold;
}

ul#menu,
.menu ul {
	width: 61.13rem; /* 974px / 16px */
	height: 4.0625rem; /* 33px / 16px */
	background-color: #d5c6a6;
	list-style-type: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.125rem; /* 18px / 16px */
}

ul#menu li,
.menu ul li {
	float: left;
	margin-top: 0.4375rem; /* 7px / 16px */
	padding: 0 0.3125rem; /* 5px / 16px */
	border-right: 0.0625rem dotted #333333; /* 1px / 16px */
	margin-left: 0;
}

ul#menu li a:link,
ul#menu li a:visited,
.menu ul li a:link,
.menu ul li a:visited {
	display: block;
	text-align: center;
	padding: 0.9375rem 0.9375rem; /* 15px / 16px */
	text-decoration: none;
	color: #333333;
}

ul#menu li a:hover,
ul#menu li a:active,
.menu ul li a:hover,
.menu ul li a:active,
ul#menu li.current_page_item a,
.menu ul li.current_page_item a:link,
.menu ul li.current_page_item a:visited,
.menu ul li.current_page_item a:hover,
.menu ul .current_page_item a:active {
	background-color: #ffffff;
	text-decoration: none;
	color: #cc3300;
}

ul#menu li li {
	border-right: none;
	margin: 0;
	margin-top: 0.0625rem; /* 1px / 16px */
	width: 7.5rem; /* 120px / 16px */
	padding: 0;
}

ul#menu li li li {
	padding-left: 0.0625rem; /* 1px / 16px */
}

ul#menu li li a,
ul#menu li li a:link,
ul#menu li li a:visited {
	background: #d5c6a6;
	width: 7.5rem; /* 120px / 16px */
	color: #333333;
	font-size: 1rem; /* 16px / 16px */
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	line-height: 1.5625rem; /* 25px / 16px */
	text-align: left;
}

ul#menu li li a:hover,
ul#menu li li a:active {
	background: #ffffff;
	color: #cc3300;
}

ul#menu li ul {
	z-index: 9999;
	position: absolute;
	left: -62.4375rem;
	height: auto;
	width: 9.375rem;
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  ul#menu li ul a {
	width: 7.5rem;
  }
  
  ul#menu li ul ul {
	margin: -1.625rem 0 0 9.375rem;
  }
  
  ul#menu li:hover ul ul,
  ul#menu li:hover ul ul ul {
	left: -62.4375rem;
  }
  
  ul#menu li:hover ul,
  ul#menu li.sfhover ul,
  ul#menu li li:hover ul,
  ul#menu li li.sfhover ul,
  ul#menu li li li:hover ul,
  ul#menu li li li.sfhover ul {
	left: auto;
  }
  
  ul#menu li:hover,
  ul#menu li.sfhover {
	position: static;
  }
  
  #content {
	clear: both;
  }
  
  #center {
	float: left;
	width: 38.75rem;
	margin-bottom: 0.3125rem;
  }
  
  #headline,
  #latest,
  #the_loop,
  #comments_template {
	width: 58.5rem;
	margin: 0.625rem;
	padding: 0.625rem;
	border: 0.0625rem solid #daccb0;
	background-color: #f4f1e9;
	background-position: top;
	background-repeat: no-repeat;
	overflow: hidden;
  }

  
.square-image {
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
  float: left;
  margin-right: 1rem;
  }

  
  #headline h3,
  #featured h3,
  #popular h3,
  #latest h3,
  .sitem h3,
  #top h3 {
	background-color: #d5c6a6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.6875rem;
	color: #333333;
	padding: 0.1875rem 0.4375rem;
	text-transform: uppercase;
	border: 0.0625rem solid #cbbb9a;
	margin-top: 0;
	margin-bottom: 0.1875rem;
  }
  
  #headline h2 a,
  #the_loop h2 a {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0.4375rem;
	padding-bottom: 0.125rem;
	font-size: 1.25rem;
	color: #333333;
	border-bottom: 0.0625rem dotted #333333;
  }
  
  #headline h2 a:link,
  #headline h2 a:visited,
  #featured h2 a:link,
  #featured h2 a:visited,
  #popular h2 a:link,
  #popular h2 a:visited,
  #latest h2 a:link,
  #latest h2 a:visited,
  #the_loop h2 a:link,
  #the_loop h2 a:visited {
	color: #333333;
	text-decoration: none;
  }
  
  #headline h2 a:hover,
  #headline h2 a:active,
  #featured h2 a:hover,
  #featured h2 a:active,
  #popular h2 a:hover,
  #popular h2 a:active,
  #latest h2 a:hover,
  #latest h2 a:active,
  #the_loop h2 a:hover,
  #the_loop h2 a:active {
	color: #333333;
	text-decoration: underline;
  }
  
  p.postmeta {
	line-height: 1.5625rem;
  }
  
  #headline p,
  #featured p,
  #popular p,
  #latest p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	line-height: 1.25rem;
	color: #333333;
  }
  
  #headline p,
  #latest p {
	text-align: justify;
  }
  
  #headline p a:link,
  #headline p a:visited,
  #featured p a:link,
  #featured p a:visited,
  #popular p a:link,
  #popular p a:visited,
  #latest p a:link,
  #latest p a:visited {
	color: #cc3300;
	text-decoration: none;
  }
  
  #headline p a:hover,
  #headline p a:active,
  #featured p a:hover,
  #featured p a:active,
  #popular p a:hover,
  #popular p a:active,
  #latest p a:hover,
  #latest p a:active {
	text-decoration: underline;
  }
    
  a {
	text-decoration: none;
  }
  .post {
	padding-bottom: 0.3125rem;
	background-image: url(images/separator.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	margin-bottom: 0.625rem;
  }
  
  .the_content p {
	margin-bottom: 0.3125rem;
	text-align: justify;
  }
  
  p.address {
	background-image: url(images/separator.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	padding-bottom: 0.1875rem;
  }
  
  p.details {
	clear: both;
	border-top: #333333 0.0625rem dotted;
	margin-top: 0.3125rem;
	line-height: 1.5625rem;
  }
  
  a:link,
  a:visited {
	color: #cc3300;
	text-decoration: none;
  }
  
  a:hover,
  a:active {
	text-decoration: underline;
  }
  
  p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	line-height: 1.25rem;
	color: #333333;
	text-align: justify;
	margin: 0;
  }
  

  hr {
	border: none;
	height: 0.1875rem;
	background-repeat: repeat-x;
	padding: 0.1875rem 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	margin-bottom: 0;
	margin-top: 0.3125rem;
  }
  
  h1,
  h2 {
	margin-top: 0.3125rem;
	margin-bottom: 0.1875rem;
  }
  
  dt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.875rem;
  }
  
  dd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
  }
  
  ol,
  ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	padding: 0;
	margin: 0;
  }
  
  ul {
	list-style-type: square;
  }
  
  ol li,
  ul li {
	margin-left: 1.25rem;
	color: #333333;
	line-height: 1.25rem;
  }
  
  fieldset {
	border: none;
  }
  
  form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.875rem;
	color: #333333;
  }
  
  #comments_template h3 {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0.4375rem;
	padding-bottom: 0.125rem;
	color: #333333;
	border-bottom: #333333 0.0625rem dotted;
	border-bottom: none;
	margin-bottom: 0.625rem;
  }
  
  #comments_template ol li {
	list-style-type: none;
	margin-left: 0;
  }
  
  #comments_template ol li.bypostauthor,
  #comments_template ol li.comment-author-admin {
	background-color: #e7ddcb;
  }
  
  .comment {
	border: #daccb0 0.0625rem solid;
	margin-bottom: 0.625rem;
	padding: 0.3125rem;
  }
  
  .comment-author img {
	float: right;
  }
  
  .comment-meta {
	margin-bottom: 0.625rem;
  }
  
  #commentform {
	padding-top: 0.625rem;
  }
  
  #commentform small {
	font-size: 0.75rem;
  }
  
  #commentform textarea {
	width: 36.4375rem;
  }
  
  #commentform input#submit {
	color: #333333;
	padding: 0.125rem 0.375rem;
	background-color: #e7ddcb;
  }
  
  
  .navigation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.875rem;
	text-align: center;
	padding-top: 0.9375rem;
  }
  
  .navigation .left,
  .navigation .right {
	display: inline;
	margin: 0 0.3125rem;
  }
  
  .addtoany_share_save_container {
	clear: both;
	float: left;
  }
  
  .the_author {
	clear: both;
	border: #daccb0 0.0625rem solid;
	margin-bottom: 1.25rem;
	padding: 0.625rem;
	background-color: #e7ddcb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75rem;
	color: #333333;
	padding-bottom: 1.5625rem;
	min-height: 4.625rem;
  }
  
  .the_author p {
	line-height: 1rem;
  }
  
  .the_author img {
	float: left;
	margin-right: 0.625rem;
  }
  
  .the_author h3 a {
	color: #333333;
  }
  
  .the_author h3 span {
	color: #a0a0a0;
  }
  
  #author_meta {
	width: 30.625rem;
	float: right;
	clear: both;
  }
  
  #author_website {
	float: left;
	width: 50%;
  }
  
  #author_website p {
	text-align: center;
  }

  .pagination {
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination a,
  .pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .pagination a:hover {
    background-color: #eaeaea;
  }
  
  .pagination .current-page {
    font-weight: bold;
    color: #fff;
    background-color: #333;
  }
 