{% load custom_filters %}
<div id="content">
    <div id="center">
      <div id="headline">
        <h2><a href="{% url "post-detail-page" post.slug %}">{{ post.title }}</a></h2>
        <p class="postmeta" style="margin-bottom:2px;"> {{ post.date }}| <a href="#">Add a Comment</a></p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="Square Image" class="square-image">
            {% else %}
            <p></p>
            {% endif %}
            <p>{{ post.post_field|truncate_words_at:200|linebreaks }}</p>
            <p><a href="{% url "post-detail-page" post.slug %}">Read more!</a></p>
        </div>
    </div>
</div>

